.searchPage-container {
    display: flex;
    flex-direction: column;
    margin: 20px 10px 10px 10px;
    gap: 10px;
    height: 96vh;
}

.materias-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

.materias-list::-webkit-scrollbar {
    display: none;
}
